.navigation {
  padding-top: 34px;
  display: flex;
  justify-content: space-between;
}
.hero-content {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-content p {
  padding-top: 23px;
  max-width: 730px;
  color: var(--medium-brown);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .hero-content p {
    padding-top: 27px;
    max-width: 573px;
  }
}
@media (max-width: 375px) {
  .hero-content p {
    padding-top: 16px;
    max-width: 285px;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
.grid-container {
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item1 item5 item5 item6";
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  padding-top: 80px;
  color: #ffffff;
  gap: 24px;
}

.grid-container div {
  justify-content: space-between;
  padding: 24px;
  flex-grow: 1;
  border-radius: 8px 8px;
}
.g-design-img {
  padding-left: 178px;
  padding-bottom: 124px;
}
.uiux-img {
  padding-left: 75px;
  padding-bottom: 94px;
}
.apps-img {
  padding-left: 75px;
  padding-bottom: 94px;
}
.photography-img {
  padding-left: 170px;
  padding-bottom: 94px;
}
.illus-img {
  padding-left: 200px;
  padding-bottom: 70px;
}
.motion-img {
  padding-left: 200px;
  padding-bottom: 70px;
}

.sec1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 69px;
}
.sec1 img {
  padding-top: 120px;
  max-width: 364px;
}
.sec1-card {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 339px;
}
.sec2 {
  align-items: center;
  margin: 0;
}
.slides {
  overflow-x: hidden;
  display: flex;
  gap: 30px;
}
.slides img {
  max-width: 540px;
  border-radius: 28px;
}
h3 {
  padding-right: 96px;
}
.g-design-txt {
  padding-top: 94px;
}
.illus-txt {
  padding-right: 168px;
}
.grid-container div img {
}
.item1 {
  grid-area: item1;
  background-color: var(--galactic-blue);
}
.item2 {
  grid-area: item2;
  background-color: var(--summer-yellow);
}
.item3 {
  grid-area: item3;
  background-color: var(--light-pink);
}
.item4 {
  grid-area: item4;
  background-color: var(--cyan);
}
.item5 {
  grid-area: item5;
  background-color: var(--light-red);
}
.item6 {
  grid-area: item6;
  background-color: var(--purple);
}
